*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #0f172a;
  color: #064e3b;
  padding:2vh 30px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 15px;
  grid-template-areas: 
  'header header header'
  'mainContent mainContent mainContent';
}
.header-section {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2,auto);
  background: #d1fae5;
  border: none;
  border-radius: 25px 5px 25px 5px;
  transform: skew(15deg);
  box-shadow: 5px 5px 15px 1px;
  padding-left: 10px;
}

.logo{
  transform: rotate(10deg);
  width: 100px;
}
.logo-img{
  width: 100%;
}
.main-title {
  font-family: 'Ga Maamli';
  color: #67e8f9;
  letter-spacing: 5px;
  align-self: center;
  font-size: 4rem;
}
.main-content{
  grid-area: mainContent;
  border: 1px solid #948484;
  display: grid;
  grid-template-columns: repeat(1,auto);
  gap: 30px;

}
.description {
  width: 400px;
  justify-self: center;
  text-align: center;
  color: #e879f9;
  font-family: roboto mono;
}
.description-title {
  font-size: 3rem;
}
.newBook ,.subBtn{
  width: auto;
  justify-self: center;
  background: none;
  color: #e879f9;
  padding: 10px 40px;
  border: 1px solid #e879f9;
  cursor: pointer;
  border-radius: 5px;
  font-family: roboto mono;
  font-weight: bold;
  transition: 0.8s all;
}

.newBook:hover{
  background: #e879f9;
  color: #0f172a;
  transition: 0.8s all;
}
.subBtn:hover{
  background: #e879f9;
  color: #0f172a;
  transform: skew(40deg,0);
  transition: 1.8s all;

}
.data-form {
  width: 30vw;
  border: none;
  padding: 30px;
  background:#000;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  justify-self: center;
  gap: 5px;
  color: #e879f9;
  font-family: roboto mono;
  transform: skew(-15deg);
}
.data-form input {
  height: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background:none;
  color: #fff;
}
.data-form input:focus{
  outline: none;
}
